db.sqlite3
music_app/__pycache__/*
/apps/pessoas/__pycache__/*
/apps/pessoas/migrations/*
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*
/apps/artistas/__pycache__/*
/apps/artistas/migrations/*
/apps/musicas/__pycache__/*
/apps/musicas/migrations/*
/apps/albums/__pycache__/*
/apps/albums/migrations/*
/apps/comentarios/__pycache__/*
/apps/comentarios/migrations/*