db.sqlite3
music_app/pycache/*
/apps/pessoas/pycache/*
/apps/pessoas/migrations/*
/apps/usuarios/pycache/*
/apps/usuarios/migrations/*
/apps/artistas/pycache/*
/apps/artistas/migrations/*
/apps/musicas/pycache/*
/apps/musicas/migrations/*
/apps/albums/pycache/*
/apps/albums/migrations/*
